<section class="admin-dashboard">
<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<p> There are currently <%= @product_count %> different items in stock that have been broken down into <%= @category_count %> categories. </p>

<%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>

</section>